
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,900,300);

$es_tablet: "only screen and (min-width: 0px) and (max-width: 1100px)";



body, html{
   height: 100%;
   padding: 0;
}

body#index { 
	overflow-x: hidden; 
	overflow-y: hidden; 
	
	@media #{$es_tablet}{
		overflow: scroll;
	}
}

img {
	max-width: 100%;
}
/*Home */




section#home {

  color: #FFFFFF;
  font-family: arial,sans-serif,verdana;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
   overflow-y: scroll;
    background: url("images/cel.jpg") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
   font-family: 'BellMSFE-Black';
   z-index: 1;
   color: #282523;
   
   .noies{
		background: url(../images/back.png) no-repeat fixed center top / cover rgba(0, 0, 0, 0);
		height: 75%;
		width: 100%;
		bottom: 0;
		position: fixed;
		z-index: 100;
	   
   }
   
   
    #intro {
   	   padding: 1em;
       width: 430px;
       position: fixed;
       z-index: 999;
       
       h2 {
			font-family: 'BellMSFE-light';
			font-size: 26px;
			margin-bottom: 10px;
       }
       
       
       .autors{
       	margin-bottom: 10px;
       }
       
       .xarxes{
       	z-index: 99;
       }
       
       
     }
  


 /**/
}

.pasa-pagina {
  top: 2em;
  display: block;
  height: 2em;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  z-index: 9999;
  position: fixed;
  right: 3em;;
  
	a {
	  color: #000;
	  font-family: 'Merriweather',serif;	  
	  padding: 10px;
	  border: 4px solid #000;
	  font-size: 1em;
	  font-weight: lighter;
	  transition: all 1s ease-out 0s;
	  
		  &:hover{
		  border: 4px solid #ccc;
		  transition: all 1s ease-out 0s;
		  
		  }
	  }
  
}

.pasa-central{
	bottom: 6em;
	display: block;
	height: 2em;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	z-index: 9999;
	position: fixed;
	text-align: center;
	width: 100%;
	
	
	
	
	a {
	  color: #000;
	  font-family: 'Merriweather',serif;	  
	  padding: 10px;
	  font-size: 1em;
	  font-weight: lighter;
	  transition: all 1s ease-out 0s;
	  
	   div {
		  color: white;
		  text-align: center;
		  font-size: 1.5em;
		  padding: 10px;

		  font-family: 'BellMSFE-Light';
		  font-family: 'Merriweather',serif;
		  color: #fff;
		  text-transform: uppercase;
		  font-weight: lighter;
		}

	  }
}

#peu-msf {
  bottom: 10px;
  left: 10px;
  position: fixed;
  z-index: 9999;
}


/*Central distribuidora*/

#central {
  width: 100%;
  z-index: 10;

  .pasa-pagina {
      bottom: 0;
      display: block;
      height: 2em;
      margin: 0 auto;
      position: absolute;
      text-align: center;
      width: 100%;
  }


  .info{
  	z-index: 5;
  	position: relative;
  	height: 100%;
  		.xarxes{
  			padding: 0 17px;;
  		}
  }
  
  
  #sudandelsur {
    background-image: url('bg_sudan.jpg');
	    &:hover{
	    		background-image: url('bg_sudan_des.jpg');
	    		@media #{$es_tablet}{ background-image: url('bg_sudan.jpg');}
	    }
  }
  
  
  #siria {
    background-image: url('bg_siria.jpg');
	   &:hover{
			background-image: url('bg_siria_des.jpg');
			
			@media #{$es_tablet}{ background-image: url('bg_siria.jpg');}
	   }
  }
  
  #otro {
    background-image: url('bg_mexico.jpg');
    	&:hover{
    			background-image: url('bg_mexico_des.jpg'); 			
    			@media #{$es_tablet}{ background-image: url('bg_mexico.jpg');}
    	}
  }
  
	  h1 {
	    color: #FFFFFF;
	    font-family: 'BellMSFE-Black';
	    font-size: 4.5em;
	    font-size: 6vw;
	    padding: 0.25em;
	    text-transform: uppercase;
	    line-height: 1em;
	    padding-bottom: 0;
	    
	      @media #{$es_tablet}{font-size:4em}
	    
	  	
	      span {
	  	        display: block;
	  	        font-family: 'BellMSFE-Light';
	       	 }
	  	  }
	  
	  h2 {
		    color: #fff;
		    font-family: 'BellMSFE-Light';
		    font-size: 22px;
		    font-weight: normal !important;
		    padding: 0.6em;
		    text-transform: uppercase;
		    padding-top: 0;
		  }
	  .projecte {
	    background-size: cover;
	    float: left;
		height: 100%;
	    position: relative;
	    width: 33.3%;
	    overflow: hidden;
	    
/*	    @media #{$es_tablet}{
	    	width: 100%;
	    	height: 800px;
	    	position: relative !important;
	    	overflow: hidden;
	    	
	    }*/
	    
	    
	   
	    


    .mapa {
      display: block;
      margin: 2em auto;
    }
    p {
      margin: 2em auto;
      width: 70%;
    }
    .mapa, p, .ir-proyecto {
      display: none;
    }
    &:hover {
      .mapa, p, .ir-proyecto {
        display: block;
        margin-bottom: 2em;
      }
    }
  }
  }





#peu-msf {
    bottom: 10px;
    left: 10px;
    position: fixed;
}
.ir-proyecto span {
    display: block;
    font-family: 'BellMSFE-Light';
    font-family: 'Merriweather',serif;	
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    
    &:hover{
		text-decoration: underline;
	}

    
}
#central .projecte .ir-proyecto {
    text-align: center;
}
.ir-proyecto img {
    font-family: 'BellMSFE-Light';
    margin-bottom: 1em;
}



.info-home {
		color: white;
		float: right;
		font-size: 1.5em;
		text-transform: uppercase;
		min-width: 300px;
		z-index: 2;
		margin-right: 5%;
		width: 25%;
		position: relative;
		
		
		

		 
	 
}


// Per la tablet i iphone

@media #{$es_tablet}{
	
	section{
		position: relative !important;
		height: auto !important;
		width: 100%;
		background: url(../images/bg3.jpg) no-repeat fixed center top/cover rgba(0, 0, 0, 0) !important;
		min-height: 600px;
		
		div{
			position: relative !important;
			
		
		}
		
		
		#intro{
			position: relative;
			margin: 0 auto;
			width: 85% !important;
			
			
			
		}
		.noies{
			display: none;
		}
		.pasa-central{
			position: relative;
			display: block;
		}
		
		#central{
			.projecte{
				&:hover{
					.pasa-central{
						bottom: 1em;
					}
					p{
						display: none !important;
					}
					.mapa{
						display: none !important;
					}
				}
			
			.ir-proyecto {
				display: block;
				
				span {
				    display: block;
				    font-family: 'BellMSFE-Light';
				    font-family: 'Merriweather',serif;	
				    color: #fff;
				    text-transform: uppercase;
				    font-weight: lighter;
				    
				    &:hover{
						text-decoration: underline;
					}
				
				    
				}
				
				
			}
		
			
		}
	}

}
}





.iconoscroll {
	position: fixed;
	right: 15%;
	top: 10%;
	
	
	img{width: 40px;}
}
