
body, html {
  height: 100%;
  padding: 0; }

img {
  max-width: 100%; }

html {
  /*Central distribuidora*/
  /*	.info-home {
  			color: white;
  			float: right;
  			font-size: 1.5em;
  			text-transform: uppercase;
  			min-width: 300px;
  			z-index: 2;
  			margin-right: 5%;
  			width: 25%;
  			position: relative;
  	}*/ }
  html section#home {
    color: #FFFFFF;
    font-family: arial,sans-serif,verdana;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: scroll;
    background-image: url(../images/home/bg_tablet.jpg);
    background-size: cover;
    background-position: center center;
    font-family: 'BellMSFE-Black';
    z-index: 1;
    color: #282523; }
    html section#home #intro {
      padding: 1em;
      max-width: 80%;
      position: relative;
      z-index: 999;
      margin: 0 auto; }
      html section#home #intro h2 {
        font-family: 'BellMSFE-light';
        font-size: 1.5em;
        margin-bottom: 10px; }
      html section#home #intro .autors {
        font-size: 1em; }
  html .projecte {
    background-size: cover;
    background-position: center center;
    float: left;
    position: relative;
    width: 33.3%;
    float: left;
    z-index: 999; }
    html .projecte#sudandelsur {
      background-image: url(../images/home/bg_sudan.jpg); }
    html .projecte#siria {
      background-image: url(../images/home/bg_siria.jpg); }
    html .projecte#otro {
      background-image: url(../images/home/bg_mexico.jpg); }
    html .projecte h1 {
      color: #FFFFFF;
      font-family: 'BellMSFE-Black';
      font-size: 4.5em;
      font-size: 6vw;
      padding: 0.25em;
      text-transform: uppercase;
      line-height: 1em;
      padding-bottom: 0; }
      html .projecte h1 span {
        display: block;
        font-family: 'BellMSFE-Light'; }
    html .projecte h2 {
      color: #fff;
      font-family: 'BellMSFE-Light';
      font-size: 22px;
      font-weight: normal !important;
      padding: 0.6em;
      text-transform: uppercase;
      padding-top: 0; }
    html .projecte .ir-proyecto {
      margin: 0 auto;
      display: block;
      text-align: center;
      padding: .5em;
      width: 300px;
      bottom: 1em;
      font-size: 1.5em;
      position: absolute;
      bottom: 1em;
      left: 1em; }
      html .projecte .ir-proyecto span {
        display: block;
        font-family: 'BellMSFE-Black';
        color: #fff;
        text-transform: uppercase;
        font-weight: lighter; }
        html .projecte .ir-proyecto span:hover {
          text-decoration: underline; }

html.mobile section#home {
  color: #FFFFFF;
  font-family: arial,sans-serif,verdana;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  font-family: 'BellMSFE-Black';
  z-index: 1;
  color: #282523;
  background: url(../images/home/cel.jpg) no-repeat fixed center top/cover rgba(0, 0, 0, 0); }
  html.mobile section#home #intro {
    padding: 1em;
    max-width: 80%;
    position: relative;
    z-index: 999;
    margin: 0 auto; }
    html.mobile section#home #intro h2 {
      font-family: 'BellMSFE-light';
      font-size: 1.2em;
      margin-bottom: 10px; }
html.mobile .projecte {
  height: 200px;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center; }
  html.mobile .projecte#sudandelsur {
    background-image: url(../images/home/bg_sudan_i.jpg); }
  html.mobile .projecte#siria {
    background-image: url(../images/home/bg_siria_i.jpg); }
  html.mobile .projecte#otro {
    background-image: url(../images/home/bg_mexico.jpg); }
  html.mobile .projecte h1 {
    color: #FFFFFF;
    font-family: 'BellMSFE-Black';
    font-size: 2.5em;
    padding: 0.25em;
    text-transform: uppercase;
    line-height: 1em;
    padding-bottom: 0; }
    html.mobile .projecte h1 span {
      display: block;
      font-family: 'BellMSFE-Light'; }
  html.mobile .projecte h2 {
    color: #fff;
    font-family: 'BellMSFE-Light';
    font-size: 1.2em;
    font-weight: normal !important;
    padding: 0.6em;
    text-transform: uppercase;
    padding-top: 0; }
  html.mobile .projecte .ir-proyecto {
    margin: 0 auto;
    display: block;
    text-align: right;
    padding: .5em;
    width: 300px;
    bottom: 1em;
    font-size: 1em;
    position: relative;
    bottom: none;
    left: 0;
    padding-right: .5em; }
    html.mobile .projecte .ir-proyecto span {
      display: block;
      font-family: 'BellMSFE-Black';
      color: #fff;
      text-transform: uppercase;
      font-weight: lighter; }
      html.mobile .projecte .ir-proyecto span:hover {
        text-decoration: underline; }

#peu-msf {
  bottom: 10px;
  left: 10px;
  position: fixed;
  z-index: 999; }